* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
  }
  h1 {
    margin: 15px;
    text-align: center;
    font-size: 1.75em;
  }
  div{
      padding: 15px;
  }
  p {
      border: 1px solid black;
    background-color: #990a4dbb;
    width: 100%;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    font-family: Helvetica;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    padding-top: 40px;
  }
  
  /* Simple Responsive Framework. */
  .row {
    width: 100%;
  }
  section{
    float: right;
    position: relative;
    padding: 8px;
    border: 1px solid rgb(0, 98, 128);
    background-color: rgba(49, 46, 44, 0.918);
    margin:auto;
    font: size 0.71em;
    color: white;

}
@media (min-width: 992px){
    
    .col-lg-4{
        float: left;
        width: 33.33%;    
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .col-md-6, .col-md-12{
        float: left;
    }
    .col-md-12{
        width: 100%;
    }
    .col-md-6{
        width: 50%;
    }
}
